@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body, button{
  font-family: "Anta", sans-serif;
}
.contenedor{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
}
h1{
  margin-bottom: 2px;
  font-size: 1.2em;
}
.cadaRey{
  border: 1px solid black;
  padding-bottom: 30px;
  border-radius: 12px;
  text-align: center;
  margin: 10px;
}
img{
  width: 100%;
}
.menu{
  font-size: 1.2em;
  margin-top: 15px;
}
.cajaVotacion{
  background-color: #303030;
  display: inline-block;
  border-radius: 4px;
  margin-top: 20px;
}
.votacion{
  color: white;
  font-size: 1.8em;
  margin: 4px 0 7px;
  font-weight: bold;
}

.etiqueta{
  color: red;
  font-weight: bold;
}
.titulo{
  font-size: 2em;
}
